html {
    scroll-behavior: smooth;
}

:root {
    --accent-color: #18392b;
    --secondary-accent-color: #1d2e28;
    --main-bg-color: #212224;
    --font-color: #fff;
    --main-font: 'Arial', sans-serif;
}

body {
    margin: 0;
    background-color: var(--main-bg-color);
    color: var(--font-color);
    font-family: var(--main-font);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.component-title {
    color: var(--font-color);
    font-family: var(--main-font);
    font-size: 1.5em;
}

.component {
    overflow-x: hidden;
    width: 100%;
    padding: 0px;
    border: #1d2e28 2px solid;
}

.container {
    width: 60%;
    padding: 5%;
    background-color: var(--main-bg-color);
    color: var(--text-color);
}

.nav-bar {
    display: flex;
    width: 100%;
    background-color: var(--accent-color);
    padding: 16px;
}

.nav-title {
    display: flex;
    width: 100vw;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
}

.menu-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 8px;
    border: none;
    background-color: transparent;
    color: var(--font-color);
    cursor: pointer;
}

.nav-links {
    display: flex;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin: 16px;
}

.nav-drawer {
    display: flex;
    position: relative;
    width: 200px;
    left: -250px;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px; 
    visibility: hidden;
    background-color: var(--accent-color);
    transition: all .3s ease-in;
}

.nav-drawer[data-open="true"] {
    left: 0px;
    visibility: visible;
}

.nav-item {
    padding: 8px;
    color: var(--font-color);
    text-decoration: none;
}

.code-container {
    background-color: var(--secondary-accent-color);
    display: flex;
    width: 100%;
    padding: 8px;
    justify-content: flex-start;
    flex-flow: row wrap;
}

.code-text {
    margin: 0%;
    font-size: 1.5em;
    white-space: pre-wrap;
}


.button-container {
    display: flex;
    flex-direction: row;
    padding: 16px;
    margin: 16px;
    justify-content: space-evenly;
}

.button {
    display: flex;
    padding: 16px;
    border: none;
    background-color: var(--accent-color);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: var(--font-color);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    transition: background-color .6s ease;
}

.button:hover {
    background-color: var(--secondary-accent-color);
}

.circle-button {
    display: flex;
    padding: 8px 16px;
    border: none;
    background-color: var(--accent-color);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: var(--font-color);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color .6s ease;
}

.circle-button:hover {
    background-color: var(--secondary-accent-color);
}

.carousel {
    width: 100%;
    overflow: hidden
}

.carousel .carousel-slider {
    display: flex;
    transform: translateX(-200px)
}


.blur-animation {
    display: flex;
    flex-direction: row;
    padding: 16px;
    margin: 16px;
    justify-content: center;
}

.blur-letters {
    font-size: 1.3em;
    margin: 0px 7px;
    animation-name: blur-text;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.blur-letters:nth-child(1) {
    animation-delay: .5s;
}

.blur-letters:nth-child(2) {
    animation-delay: 1s;
}

.blur-letters:nth-child(3) {
    animation-delay: 1.5s;
}

.blur-letters:nth-child(4) {
    animation-delay: 2s;
}

.blur-letters:nth-child(5) {
    animation-delay: 2.5s;
}

.blur-letters:nth-child(6) {
    animation-delay: 3s;
}

@keyframes blur-text {
    0% {
        filter: blur(0px);
    }
    
    50% {
        filter: blur(4px);
    }
    
    100% {
        filter: blur(0px);
    }
}


.interactive-animation {
    display: flex;
    flex-direction: row;
    padding: 16px;
    margin: 64px;
    justify-content: center;
}

.interactive-loader {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(#000428, #01294d, #004e92);

}

.interactive-loader span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#000428, #01294d, #004e92);
}

.interactive-loader span:nth-child(1) {
    filter: blur(5px);
}

.interactive-loader span:nth-child(2) {
    filter: blur(15px);
}

.interactive-loader span:nth-child(3) {
    filter: blur(20px);
}

.interactive-loader span:nth-child(4) {
    filter: blur(25px);
}

.interactive-loader:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: var(--main-bg-color);
    border: solid var(--main-bg-color) 10px;
    border-radius: 50%;
}

.sound-wave-container {
    display: flex;
    flex-direction: row;
    padding: 16px;
    margin: 64px;
    justify-content: center;
}

.soundwave {
    position: relative;
    width: 5px;
    height: 100px;
    border-radius: 10px;
    margin: 10px;
    background: linear-gradient(#001809, #014e1f, #018634);
    animation-name: soundwave;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}

.soundwave:nth-child(2) {
    animation-delay: .1s;
}

.soundwave:nth-child(3) {
    animation-delay: .2s;
}

.soundwave:nth-child(4) {
    animation-delay: .3s;
}

.soundwave:nth-child(5) {
    animation-delay: .4s;
}

.soundwave:nth-child(6) {
    animation-delay: .5s;
}

.soundwave:nth-child(7) {
    animation-delay: .6s;
}

.soundwave:nth-child(8) {
    animation-delay: .7s;
}


@keyframes soundwave {
    0% {
      scale: 0;
    }
    50% {
        scale: 1.2;
    }
    100% {
        scale: 0;
    }
}
